USE [master]
GO
/****** Object:  Database [QLDonHangSach]    Script Date: 11/8/2020 10:43:37 PM ******/
CREATE DATABASE [QLDonHangSach]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDonHangSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDonHangSach]
GO
/****** Object:  Table [dbo].[tbl_ChiTiet]    Script Date: 11/8/2020 10:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ChiTiet](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_tbl_ChiTiet] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_HoaDon]    Script Date: 11/8/2020 10:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NgayHoaDon] [date] NULL,
	[MaKH] [int] NULL,
	[NgayGiao] [date] NULL,
	[NgayThanhToan] [date] NULL,
 CONSTRAINT [PK_tbl_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_KhachHang]    Script Date: 11/8/2020 10:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KhachHang](
	[MaKhachHang] [int] NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_SanPham]    Script Date: 11/8/2020 10:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SanPham](
	[MaSanPham] [int] NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[DonGia] [numeric](18, 0) NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[MoTa] [nvarchar](100) NULL,
	[SoLuongTon] [int] NULL,
 CONSTRAINT [PK_tbl_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tbl_ChiTiet] ([MaHD], [MaSP], [SoLuong]) VALUES (3, 1, 1)
INSERT [dbo].[tbl_ChiTiet] ([MaHD], [MaSP], [SoLuong]) VALUES (3, 6, 2)
INSERT [dbo].[tbl_ChiTiet] ([MaHD], [MaSP], [SoLuong]) VALUES (3, 8, 1)
SET IDENTITY_INSERT [dbo].[tbl_HoaDon] ON 

INSERT [dbo].[tbl_HoaDon] ([MaHoaDon], [NgayHoaDon], [MaKH], [NgayGiao], [NgayThanhToan]) VALUES (3, CAST(0xC3410B00 AS Date), 3, CAST(0xC5410B00 AS Date), NULL)
INSERT [dbo].[tbl_HoaDon] ([MaHoaDon], [NgayHoaDon], [MaKH], [NgayGiao], [NgayThanhToan]) VALUES (4, CAST(0xC3410B00 AS Date), 1, CAST(0xC5410B00 AS Date), CAST(0xC4410B00 AS Date))
INSERT [dbo].[tbl_HoaDon] ([MaHoaDon], [NgayHoaDon], [MaKH], [NgayGiao], [NgayThanhToan]) VALUES (5, CAST(0xC3410B00 AS Date), 2, CAST(0xDF410B00 AS Date), NULL)
SET IDENTITY_INSERT [dbo].[tbl_HoaDon] OFF
INSERT [dbo].[tbl_KhachHang] ([MaKhachHang], [TenKH], [DiaChi], [SoDienThoai], [MatKhau]) VALUES (1, N'An', N'Tân Phú', N'0909123123', N'123')
INSERT [dbo].[tbl_KhachHang] ([MaKhachHang], [TenKH], [DiaChi], [SoDienThoai], [MatKhau]) VALUES (2, N'Lan', N'Bình Tân', N'0909235235', N'123')
INSERT [dbo].[tbl_KhachHang] ([MaKhachHang], [TenKH], [DiaChi], [SoDienThoai], [MatKhau]) VALUES (3, N'Vân', N'Tân Bình', N'0978634346', N'123')
INSERT [dbo].[tbl_SanPham] ([MaSanPham], [TenSP], [DonGia], [HinhAnh], [MoTa], [SoLuongTon]) VALUES (1, N'Lẽ Nào Em Không Biết ', CAST(64200 AS Numeric(18, 0)), N'leNaoEmKhongBiet.jpg', N'Tiết kiệm: 40% (42.800 ₫) 
<br> Giá thị trường: 107.000 ₫ ', 50)
INSERT [dbo].[tbl_SanPham] ([MaSanPham], [TenSP], [DonGia], [HinhAnh], [MoTa], [SoLuongTon]) VALUES (2, N'Đạo tình', CAST(77000 AS Numeric(18, 0)), N'DaoTinh.jpg', N'Tiết kiệm: 35% (42.000 ₫) <br/>
Giá thị trường: 119.000 ₫ ', 4)
INSERT [dbo].[tbl_SanPham] ([MaSanPham], [TenSP], [DonGia], [HinhAnh], [MoTa], [SoLuongTon]) VALUES (3, N'Em là nhà', CAST(58800 AS Numeric(18, 0)), N'EmLaNha.jpg', N'Tiết kiệm: 40% (39.200 ₫) 
Giá thị trường: 98.000 ₫ ', 7)
ALTER TABLE [dbo].[tbl_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ChiTiet_tbl_HoaDon1] FOREIGN KEY([MaHD])
REFERENCES [dbo].[tbl_HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[tbl_ChiTiet] CHECK CONSTRAINT [FK_tbl_ChiTiet_tbl_HoaDon1]
GO
ALTER TABLE [dbo].[tbl_ChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ChiTiet_tbl_SanPham1] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tbl_SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tbl_ChiTiet] CHECK CONSTRAINT [FK_tbl_ChiTiet_tbl_SanPham1]
GO
ALTER TABLE [dbo].[tbl_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_tbl_HoaDon_tbl_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[tbl_KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tbl_HoaDon] CHECK CONSTRAINT [FK_tbl_HoaDon_tbl_KhachHang]
GO
USE [master]
GO
