@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<div class="container-fluid bg-light">
    <h1 class="font-weight-bold text-center"> ĐĂNG KÝ VÀO KÝ TÚC XÁ</h1>
    <div class="container mt-2">
        <form action="/Home/Information" method="post">
            <div class="form-detail">
                <div class="form-info col-md-12 col-xs-12">
                    <div class="group">
                        <input class="control-custom" type="text" />
                        <span class="bar"></span>
                        <label>Họ tên</label>
                    </div>                   
                    <div class="group">
                        <input class="control-custom" type="text" />
                        <span class="bar"></span>
                        <label>CMND</label>
                    </div>
                    <div class="group">
                        <input class="control-custom" type="text" />
                        <span class="bar"></span>
                        <label>MSSV</label>
                    </div>
                    <div class="group">
                        <input class="control-custom" type="text" />
                        <span class="bar"></span>
                        <label>Email</label>
                    <div class="group">
                        <input class="control-custom" type="text" />
                        <span class="bar"></span>
                        <label>Số điện thoại</label>
                    </div>
                    </div>                  
                    <div class="group">
                        <input class="" type="radio" name="1"/> Nam
                        <input class="" type="radio" name="1"/> Nữ
                        
                        <label>Giới tính</label>
                    </div>
                </div>
            </div>
            <div class="form-button text-center">
                <button class="btn btn-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
   
</div>


