@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}


@{
    if (Request.HttpMethod == "POST")
    {
        
        <div class="container ">
            <h1 style="text-align:center">Thông tin đã đăng ký</h1>
            <div class="">
                <p><label>Họ Tên: </label></p>
                <p><label>Họ Tên: </label></p>
                <p><label>Họ Tên: </label></p>
                <p><label>Họ Tên: </label></p>
                <p><label>Họ Tên: </label></p>
                <p><label>Họ Tên: </label></p>
                <p><label>Họ Tên: </label></p>
                <p><label>Họ Tên: </label></p>
            </div>
            
        </div>
    }

}

