@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<div class="container">

    <h1 class="text-xl-center">Danh sách Sinh viên</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="HideUpdate();">Thêm món ăn mới</button> <br /><br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th> ID </th>
                <th> MSSV </th>
                <th> Name </th>
                <th> Phone </th>
                <th> Ngày sinh </th>
                <th> Passport </th>
                <th> Giới tính </th>
                <th>  </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>


<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">Thêm mới</h4></div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="EmloyeeId">ID</label>
                        <input type="text" class="form-control" id="ID" placeholder="Mã" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="Name">MSSV</label>
                        <input type="text" id="MSSV" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="Type">Name</label>
                        <input type="text" id="Name" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="Price">Phone</label>
                        <input type="text" id="Phone" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="Price">NgaySinh</label>
                        <input type="text" id="NgaySinh" placeholder="" />
                    </div>                                     
                    <div class="form-group">
                        <label for="Price">Passport</label>
                        <input type="text" id="Passport" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="Price">GioiTinh</label>
                        <input type="text" id="GioiTinh" placeholder="" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();"> Add </button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none" onclick="return Update()">Update</button>
                <button type="button" class="btn btn-dark" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/bootstrap/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/bootstrap/js/Food.js"></script>